.zpanel-login {
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #fff;
    font-weight: 800;
}
.zpanel-login h2 {
    line-height: 52px;
}
.zpanel-login i{
    font-size:33px;
}